.ant-carousel {
  .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #dfdfdf;
    overflow: hidden;
  }
  .slick-slide h3 {
    margin:0
  }
}
.home{
    h3{margin-top:20px;}
}
.iq-list{
  button.ant-btn{font-size:12px;}
}
